# --- System & IDE ---
.ipynb_checkpoints/
**/__pycache__/
*.py[cod]
.vscode/
.env
.DS_Store

# --- Project Specific ---
Projects/
.ssh/
*.pid
*.out
*.log
checkpoints/

# --- Data --- 
data/*
optimal_result/

# --- Notebooks --- 
notebooks/quant_dev.ipynb  

# --- Python Build & Distribution ---
build/
dist/
*.egg-info/
__pycache__/

# --- Colab Specific ---
/content/drive
drive/


# --- vm ---
.venv/ 
